mixin div(content)
	- var content = content || {};
	- content.class = content.class || '';
	- content.id = content.id || '';

	div(class=content.class ,id=content.id)&attributes(attributes)
		if block
			block
